<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>

<!--      <class name="org.test.testScripts.TC1"/>
      <class name="org.test.testScripts.TC2"/>
      <class name="org.test.testScripts.TC3"/>
      <class name="org.test.testScripts.TC4"/>
      <class name="org.test.testScripts.TC5"/>
-->
	  <class name="org.test.testScripts.Assignment1_GetAll"/>	
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
